* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.one, .two, .three, .four {
    flex-grow: 1;
}

.one {
    display: flex;
    flex-direction: column;
}

.footer {
    margin-top: auto;
    margin: 0 auto;
}

.header ul {
    display: flex;
    text-decoration: none;
    list-style-type: none;
    gap: 16px;
}

li.logo {
    margin-right: auto;
}

.main-image {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.main {
    flex: 1;
}


.image {
    flex: 1;
}

.main-image-dimension {
    display: flex;
    justify-content: center;
    width: 60%;
}

.two {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.two-images {
    display: flex;
}


.four {
    display: flex;
    justify-content: center;
}

div {
    border: 2px solid black;
}
